// VARIABLES 

$font: 'Baskerville', serif;
$logoFont: 'Herr Von Muellerhoff', cursive;
$bodyFont: 'Avenir Next', sans-serif;
$heading: 700;
$paragraph: 400;
$danger: #a70000;
$success: #29930f;
$default: #499cb5;

$bgSidebar: #333;
$bgNav: salmon;
$bgBody: #555;

$lightText: #000532;
$darkText: #fff;

$marginSmall: 10px;

$logInBar: #E9E5D7; 

//font sizes 

$logInHeading: 20px;
$fontSizeLogInBar: 2em;
$logoFontSize: 86px;
$navFontSize: 35px;
$profileNames: 28px;
$profilePosition: 20px;
$profileTarget: 15px;

//font Weight

$fontRegular: regular;
$fontBold: bold;
$bodyFontRegular: medium;
$bodyFontBold: bold;


// Colors

$red: #CB654F;
$rustyRed: #80503C;
$beige: #E9E5D7;
$black: #000532;
$yellow: #E9C157;
$greyBlue: #6C686D;	
$teal: #0C3439;
$pink: #D3B1A6;
